<%= form_for @order do |f| %>
  <p>
    <%= f.label :Cliente %><br>
    <%= f.text_field :customer_id %>
  </p>
 
  


 
  <p>
      <%= f.label :Descuento%><br>
      <%= f.text_field :discount %> <br>
  </p>
  
  
  <p>
      <%= f.label :Total  %><br>
      <%= f.text_field :total %> <br>
  </p>

  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

<% @products.each do |product| -%>
  <button class="addField" data-product-id="<%=product.id%>"><%= product.name %></button> 
  <%end%>
