<p>
  <strong>Producto</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Código</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Precio</strong>
  <%= @product.price%>
</p>
 
<%= link_to 'Editar', edit_product_path(@product) %> 

<%= link_to 'Regresar', products_path %>